<div  class="panel panel-primary">
    <div  class="panel-heading">
      <h2>Product List</h2>
    </div>
    <div class="panel-body main">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Catagory</th>
            <th>Product Description</th>
            <th>Unit</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | async">
            <td>{{product.productName}}</td>
            <td>{{product.productCatagory}}</td>
            <td>{{product.productDescription}}</td>
            <td>{{product.unit}}</td>
            <td>
                <button (click)="updateProduct(product.productId)" class="btn btn-info btn-detail" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
